@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');
:root {
	--dark: #0a1917;
	--light: #f6f2f4;
	--accent: #f80011;
	--anim: 0.2s ease-out;
	--rad: 0.25rem;
}
*, *::before, *::after {
	box-sizing: border-box;
}
body {
    background: var(--dark);
	color: var(--light);
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	padding: 1rem 15rem;
}
::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-track {
	background: var(--light);
	outline: 2px solid var(--light);
}
::-webkit-scrollbar-thumb {
	background: #0a1917c0;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--dark);
}
hr {
	border-color: var(--accent);
}
section {
	margin: 5rem 0;
}
table {
	border-collapse: collapse;
}
td {
	border-bottom: 1px solid var(--accent);
	padding: 0.5rem;
}
tr:first-child > td {
	border-top: none;
}
tr:last-child > td {
	border-bottom: none;
}
select {
	/* resetting default styling */
	appearance: none;
	border: none;
	outline: none;
	border-radius: 0;

	background-color: var(--accent);
	color: var(--light);
	font: inherit;
}
input[type="radio"] {
	visibility: hidden;
	display: none;
	width: 0;
}
label {
	cursor: pointer;
}

h1{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 64px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #FF1C1C;
	-webkit-text-stroke: 3px rgb(255, 255, 255);
	font-weight: 400;
	text-decoration: underline rgb(255, 255, 255);
	font-style: normal;
	font-variant: normal;
	text-transform: uppercase;
}
.search {
	border: none;
	font: inherit;
	background: var(--accent);
	color: var(--light);
	border-radius: var(--rad);
	padding: 0.25em 0.75em;
	transition: background-color var(--anim), color var(--anim), transform var(--anim);
	font-weight: 700;
}
.search:hover {
	background: var(--light);
	color: var(--accent);
}
.search:active {
	transform: translateY(2px);
}
input[type="text"] {
	appearance: none;
	border: none;
	outline: none;
	font: inherit;
	padding: 0.25em 0.75em;
	border-radius: var(--rad);
	background: var(--light);
}
input[type="text"]:focus {
	color: var(--dark);
}
.collapsible {
	cursor: pointer;
	border-color: transparent;
	background-color: var(--accent);
	color: var(--light);
	font: inherit;
	font-weight: 700;
	width: 100%;
	text-align: left;
	transition: background-color var(--anim), color var(--anim);
	padding: 0.25em 0.75em;
	position: relative;
}
.collapseContainer > button:hover {
	background-color: var(--light);
	color: var(--accent);
	box-shadow: 0 2px 0 var(--accent);
}
.collapseContent {
	background: var(--light);
	color: var(--dark);
	max-height: 0;
	transition: max-height var(--anim);
	overflow: hidden;
}
.collapseContent > table {
	width: 100%;
}
.arrow {
	height: 100%;
	aspect-ratio: 1;
	position: absolute;
	right: 0.5rem;
	top: 0;
	transform-origin: center;
	rotate: 0deg;
	transition: rotate var(--anim), fill var(--anim), stroke var(--anim);
}
.active > .arrow {
	rotate: 90deg;
}
.collapsible:hover > .arrow {
	stroke: var(--accent);
}
.collapseContainer {
	border-radius: var(--rad);
	overflow: hidden;
}
.dropdownContainer {
	width: 20rem;
	position: relative;
}
.dropdownButton {
	appearance: none;
	position: relative;
	border: 2px solid var(--accent);
	background: transparent;
	font: inherit;
	color: var(--accent);
	padding: 0.25em 2em 0.25em 0.75em;
	width: 100%;
	border-radius: var(--rad);
	transition: background-color var(--anim), border-radius 0s linear 0.2s;
	text-align: left;
}
.dropdownButton:hover {
	border: 2px solid var(--light);
	background: var(--light);
}
.dropdownButton > .arrow {
	stroke: var(--accent);
}
.dropdownButton.active {
	border-radius: var(--rad) var(--rad) 0 0;
	transition: border-radius var(--anim);
}
.dropdownButton.active:hover {
	box-shadow: 0 2px 0 var(--accent);
}
.dropdownContent {
	position: absolute;
	background: var(--light);
	color: var(--accent);
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: max-height var(--anim);
	border-radius: 0 0 var(--rad) var(--rad);
	box-shadow: 0 2px 2px 0 #0a1917f0;
}
.dropdownContent > label {
	display: block;
	width: 100%;
	padding: 0.25em 0.75em;
	border: 2px solid var(--light);
	transition: background-color var(--anim), color var(--anim);
}
.dropdownContent > label:hover {
	background:  var(--dark);
	border-color: var(--accent);
}
.dropdownContent.even {
	z-index: 200;
}
.dropdownContent.odd {
	z-index: 100;
}
.dropdownButton.even {
	z-index: 201;
}
.dropdownButton.odd {
	z-index: 101;
}
.outerTable {
	display: block;
	overflow-x: scroll;
	text-align: right;
	border-radius: var(--rad);
}
.outerTable > thead > tr > th:nth-child(1), .outerTable > tbody > tr > td:nth-child(1) {
	text-align: left;
}
.outerTable > thead > tr {
	background: var(--light);
	color: var(--dark);
}
.outerTable > thead > tr > th, .outerTable > tbody > tr > td {
	padding: 0.25em 0.75em;
}
#playerInfo {
	width: min-content;
	padding: 0;
	margin: 0;
	background: transparent;
}